Самсоненко Станислав Владимирович ИКБО-01-20 Практическая работа №1

2)Написать программу, которая вычисляет площадь фигуры,
параметры которой подаются на вход. Фигуры, которые подаются на вход:
треугольник, прямоугольник, круг. Результатом работы является словарь, где
ключ – это название фигуры, а значение – это площадь.

In [1]:
import math

def calcArea(shape, side1, side2 = 0, side3 = 0):
    ans = {}
    if shape == "triangle":
        p = (side1 + side2 + side3) / 2
        ans["triangle"]  = math.sqrt(p * (p - side1) * (p - side2) * (p - side3))
        return ans
    elif shape == "rectangle":
        ans["rectangle"] = side1 * side2
        return ans
    elif shape ==  "circle":
        ans["circle"] = math.pi * side1 * side1
        return ans

print(calcArea('triangle', 1, 2, 3))
print(calcArea('rectangle', 1, 2))
print(calcArea('circle', 3))

{'triangle': 0.0}
{'rectangle': 2}
{'circle': 28.274333882308138}

3)Написать программу, которая на вход получает два числа и операцию, которую к ним нужно применить. Должны быть реализованы следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в степень.

In [59]:
a = float(input())
b = float(input())
s = input()
if s == '+':
    print(a+b)
elif s == '-':
    print(a-b)
elif s == '/':
    print(a/b)
elif s == '//':
    print(a//b)
elif s == 'abs':
    print(abs(a))
elif s == 'pow':
    print(a**b)
elif s == '**':
    print(a**b)

0

4)Напишите программу, которая считывает с консоли числа (по
одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел.

In [6]:
sum = 0
ans = 0
while True:
    a = float(input())
    sum += a
    ans += a**2
    if sum == 0:
        print(ans)
        break

2.0

5)Напишите программу, которая выводит последовательность чисел, длинною N, где каждое число повторяется столько раз, чему оно равно. На вход программе передаётся неотрицательное целое число N. Например, если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка через пробел – print(*list).

In [8]:
def generate_sequence(N):
    sequence = []
    num = 1

    while len(sequence) < N:
        sequence.extend([num] * num)
        num += 1

    return sequence[:N]

N = int(input())
sequence = generate_sequence(N)
print(*sequence)

1 2 2 3 3 3 4

6)Даны два списка: А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2] В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]. Создать словарь, в котором ключи – это содержимое списка В, а значения для ключей словаря – это сумма всех элементов списка А в соответствии с буквой, содержащийся на той же позиции в списке В.

In [10]:
a = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
b = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
ans = {}
for character in sorted(set(b)):
    ans[character] = 0
for i in range(len(b)):
    ans[b[i]] += a[i]
print(ans)

{'a': 17, 'b': 11, 'c': 17}

7-12)Задания с седьмого по двенадцатый были объеденены в виду их маленького размера. 7. Скачать и загрузить данные о стоимости домов в калифорнии, используя библиотеку sklearn. 8. Использовать метод info(). 9. Узнать, есть ли пропущенные значения, используя isna().sum(). 10. Вывести записи, где средний возраст домов в районе более 50 лет и население более 2500 человек, используя метод loc(). 11. Узнать максимальное и минимальное значения медианной стоимости дома. 12. Используя метод apply(), вывести на экран название признака и его среднее значение.

In [43]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
df = fetch_california_housing(as_frame=True)
data = df.data

'\nerree\n'

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [46]:
data.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [47]:
filtered_data = data.loc[(data.HouseAge > 50) & (data.Population > 2500)]
filtered_data

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41

In [48]:
data.MedInc.min()

0.4999

In [49]:
data.MedInc.max()

15.0001

In [53]:
data.apply(pd.DataFrame.mean)

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64